html {
    background-color: darkblue;
    color: aliceblue;
}

body {
    width: 600px;
    padding: 40px;
}

table {
    margin-bottom: 20px;
}

#top_bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

form {
    display: block;
    text-align: left;
}

input {
    margin-bottom: 20px;
}